page-adding {
    .actions{
        text-align: right;
        margin: 20px;
    }
    
    img{
        height: 90px;
        border: solid 1px #eee;
        margin-left: 1em;
        margin-top: 1em;
    }
}
